## Multiple variables Linear Regression

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [19]:
housing_dict = {'area':[2300,3200,3000,4000,3800,3600],
                'bedrooms':[3,4,3,5,4,5],
                'age':[3,10,5,6,1,15],
                'price':[550000,600000,580000,650000,610000,580000]}

In [20]:
df = pd.DataFrame(housing_dict)

In [21]:
df

   area  bedrooms  age   price
0  2300         3    3  550000
1  3200         4   10  600000
2  3000         3    5  580000
3  4000         5    6  650000
4  3800         4    1  610000
5  3600         5   15  580000

In [25]:
ln = linear_model.LinearRegression()

In [27]:
ln.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression()

In [28]:
ln.coef_

array([   37.92181252, 10530.83725448, -2257.19367739])

In [29]:
ln.intercept_

442150.5973180631

In [34]:
# Predicting a price for a random house of area=2600, age=18, bedroom=3
print(f'Price is {ln.predict([[2600,3,18]])[0]}')

Price is 531710.3354316212

In [35]:
print(f'Price is {ln.predict([[2600,3,2]])[0]}')

Price is 567825.4342697839

In [36]:
print(f'Price is {ln.predict([[3600,3,2]])[0]}')

Price is 605747.2467863404